<header class="bg-blue-500 p-4 text-white">
    <div class="container mx-auto flex justify-between items-center">
        <div>
            <h1 class="text-2xl font-bold">CrickInformer</h1>
        </div>
        <nav class="hidden md:flex space-x-4">
            <a routerLink="/home" class="hover:text-gray-300">Home</a>
            <a routerLink="/live" class="hover:text-gray-300">Live Matches</a>
            <a routerLink="/points-table" class="hover:text-gray-300">Points Table</a>
            <a routerLink="/history" class="hover:text-gray-300">History</a>
        </nav>
        <div></div>
        <div class="md:hidden">
            <button id="menu-toggle" class="text-white focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                     class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </div>
</header>

<!-- Mobile Menu -->
<div id="mobile-menu" class="md:hidden fixed inset-0 bg-blue-500 bg-opacity-75 z-50 hidden">
    <div class="flex justify-end p-4">
        <button id="close-menu" class="text-white focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                 class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
    </div>
    <div class="flex flex-col items-center">
        <a routerLink="/home"  class="text-white py-2 hover:text-gray-300">Home</a>
        <a routerLink="/live"  class="text-white py-2 hover:text-gray-300">Live</a>
        <a routerLink="/points-table" class="text-white py-2 hover:text-gray-300">Points Table</a>
        <a routerLink="/history" class="text-white py-2 hover:text-gray-300">History</a>
    </div>
</div>
<div class="px-5 py-8">
    <router-outlet></router-outlet>
</div>