
<div class="container mx-auto">
    <div class="overflow-x-auto">
        <table class="w-full">
            <thead>
            <tr>
                <th class="py-2 px-4 bg-blue-500">Team</th>
                <th class="py-2 px-4 bg-blue-500">Matches</th>
                <th class="py-2 px-4 bg-blue-500">Won</th>
                <th class="py-2 px-4 bg-blue-500">Lost</th>
                <th class="py-2 px-4 bg-blue-500">Tied</th>
                <th class="py-2 px-4 bg-blue-500">NRR</th>
                <th class="py-2 px-4 bg-blue-500">Points</th>
            </tr>
            </thead>
            <tbody>
            <!-- Team 1 -->
            <tr class="highlight-green">
                <td class="py-2 px-4">Team 1</td>
                <td class="py-2 px-4">10</td>
                <td class="py-2 px-4">7</td>
                <td class="py-2 px-4">2</td>
                <td class="py-2 px-4">1</td>
                <td class="py-2 px-4">+0.5</td>
                <td class="py-2 px-4">14</td>
            </tr>
            <!-- Team 2 -->
            <tr class="highlight-green">
                <td class="py-2 px-4">Team 2</td>
                <td class="py-2 px-4">10</td>
                <td class="py-2 px-4">6</td>
                <td class="py-2 px-4">3</td>
                <td class="py-2 px-4">1</td>
                <td class="py-2 px-4">+0.3</td>
                <td class="py-2 px-4">13</td>
            </tr>
            <!-- Team 3 -->
            <tr class="highlight-green">
                <td class="py-2 px-4">Team 3</td>
                <td class="py-2 px-4">10</td>
                <td class="py-2 px-4">6</td>
                <td class="py-2 px-4">3</td>
                <td class="py-2 px-4">1</td>
                <td class="py-2 px-4">+0.2</td>
                <td class="py-2 px-4">13</td>
            </tr>
            <!-- Team 4 -->
            <tr class="highlight-green">
                <td class="py-2 px-4">Team 4</td>
                <td class="py-2 px-4">10</td>
                <td class="py-2 px-4">5</td>
                <td class="py-2 px-4">4</td>
                <td class="py-2 px-4">1</td>
                <td class="py-2 px-4">-0.1</td>
                <td class="py-2 px-4">11</td>
            </tr>
            <!-- Team 5 -->
            <tr class="highlight-red">
                <td class="py-2 px-4">Team 5</td>
                <td class="py-2 px-4">10</td>
                <td class="py-2 px-4">4</td>
                <td class="py-2 px-4">5</td>
                <td class="py-2 px-4">1</td>
                <td class="py-2 px-4">-0.5</td>
                <td class="py-2 px-4">9</td>
            </tr>
            <!-- Team 6 -->
            <tr class="highlight-red">
                <td class="py-2 px-4">Team 6</td>
                <td class="py-2 px-4">10</td>
                <td class="py-2 px-4">3</td>
                <td class="py-2 px-4">6</td>
                <td class="py-2 px-4">1</td>
                <td class="py-2 px-4">-0.3</td>
                <td class="py-2 px-4">7</td>
            </tr>
            <!-- Team 7 -->
            <tr class="highlight-red">
                <td class="py-2 px-4">Team 7</td>
                <td class="py-2 px-4">10</td>
                <td class="py-2 px-4">2</td>
                <td class="py-2 px-4">7</td>
                <td class="py-2 px-4">1</td>
                <td class="py-2 px-4">-0.6</td>
                <td class="py-2 px-4">5</td>
            </tr>
            <!-- Team 8 -->
            <tr class="highlight-red">
                <td class="py-2 px-4">Team 8</td>
                <td class="py-2 px-4">10</td>
                <td class="py-2 px-4">1</td>
                <td class="py-2 px-4">8</td>
                <td class="py-2 px-4">1</td>
                <td class="py-2 px-4">-0.8</td>
                <td class="py-2 px-4">3</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>